.map-wrapper {
    width: 80vw;

    border: 1px lightgray solid;
    display: flex;
    align-items: center;
    justify-content: center;

    // figure {
    //     width: fit-content;
    //     height: fit-content;
    //     border: 1px lightgray solid;
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;

    //     svg {
    //         width: 100%;
    //         height: auto;
    //         border: 1px red solid;

    //         g {
    //             transform: scale(0.68);
    //         }
    //     }
    // }
}